
/**********************************************************************
                             INDEX
**********************************************************************/

#Banner{
  background-image: url(../ASSETS/IMG/pexels-hitarth-jadhav-220357.jpg);
  background-position: center;
  background-size: 100%;
  margin:auto;
  background-repeat: no-repeat;
  min-height: 65vh;
  
} 

#perfil{
  object-fit: cover;
  position: relative;
  width: 250px;
  right: 220px;
  bottom: 150px;
} 

h3.fw-normal_1{
  font-family: 'Noto Serif Armenian', serif;
  object-fit: cover;
  position: relative;
  width: 300px;
  height: 300px;
  right: 250px;
  top:100px;
} 

.fw-normal_1{
  margin-top: -22rem;
}
/*
body{
  background-image: url(../ASSETS/IMG/pexels-consuelo-borroni-14806765.jpg);
  background-position: center;
  background-size: 100%;

}*/

.rounded-circle.w-75{
  z-index: 1;
  background-color: yellow;
  height: auto;
  width: 15rem !important;
  margin-bottom: 7.50rem;
  margin-right: 7.50rem;
  
}

i.fa-brands.fa-instagram.fa-2xl:hover{
  color:rgb(198, 42, 28);
}

i.fa-brands.fa-linkedin-in.fa-2xl:hover{
  color: dodgerblue;
}

i.fa-regular.fa-envelope.fa-2xl:hover{
  color: rgb(198, 93, 55);
}

i.fa-brands.fa-github.fa-2xl:hover{
  color:azure;
}

i.fa-solid.fa-user-lock.fa-2xl:hover{
  color:lightblue;
}

i.fa-solid.fa-user.fa-2xl:hover{
  color: lightblue;
}

.list-group{
  --bs-list-group-bg:none;
  --bs-list-group-border-color:none;
}
/*section.about{
  margin-top: 7.5rem;
}*/

section.acerca_de_mi, section.educacion, section.proyectos{
  background-color:steelblue;
  
 }



/*********************************************************************
                            DAHSBOARD
                            DAHSBORAD
**********************************************************************/

section.panel{
  margin-top: 5rem;
}
/*section.experiencia, section.habilidades, section.footer{
 
}

div#datos{
position: relative;
}
  
*/