
/**********************************************************************
                             INDEX
**********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/**************** Navbar ************************/


.navbar.navbar-expand-lg.bg-primary.fixed-top{
  padding: 0.1rem;
  font-family: 'Nunito', sans-serif;  
}
.logo img{
  transition: all 0.55s;
  height: 3rem;
}
.logo img:hover{
  transform: scale(1.2);
  transition: all 0.8s;
}


ul.list-group{
  padding: 10px;
}
.navbar-nav{
  list-style: none;
  font-size: 1.1rem;
  display:inline-block;
}
.navbar-nav:hover{
  transform: scale(1.2);
}
.navbar-nav a{
  color: #ffffff;
  
}
.navbar-nav a:hover{
  color: #ffbc0e;
}

.btn i:hover{
  transform: scale(1.3);
  transition: all 0.7s;
}

i.fa-brands.fa-linkedin-in.fa-2xl:hover{
  color: #1e90ff;
}
i.fa-regular.fa-envelope.fa-2xl:hover{
  color: #c65d37;
}
i.fa-brands.fa-github.fa-2xl:hover{
  color:#f0ffff;
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
  color:#57d4ed;
}

.list-group{
  --bs-list-group-bg:none;
  --bs-list-group-border-color:none;
}



/******************* Fondo **********************/
#Banner{
  background-image: url(../ASSETS/IMG/pexels-hitarth-jadhav-220357.jpg);
  background-position: center;
  background-size: 100%;
  margin:auto;
  background-repeat: no-repeat;
  min-height: 65vh;
  padding: 345px;
  
} 
/*************** Perfil ****************/
#perfil{ /*Foto*/                      
  object-fit: cover;
  position: relative;
  height: auto;
  width: 18rem !important;
  right: 220px;
  bottom: 185px;
  z-index: 1;
  margin-bottom: 5.50rem;
  
}
.Nombre{ 
  font-family: 'Noto Serif Armenian', serif;
  object-fit: cover;
  position: relative;
  font-size: 33px;
  margin-top: -22rem;
  width: 300px;
  height: 300px;
  right: 225px;
  top:100px;
}

/*body{
  background-image: url(../ASSETS/IMG/pexels-linda-gschwentner-10924810.jpg);
  background-position: center;
  background-size: 100%;}*/

/************************** Sections *******************************/
section.acerca_de_mi {
  margin-top: -15px;
}
section.acerca_de_mi, section.educacion, section.proyectos{
background-color:steelblue;
padding: 15px;
 }
section.experiencia, section.habilidades, section.footer{
  padding: 15px;
}


/*********************************************************************
                            DAHSBOARD
**********************************************************************/

/*User sin candado*/
i.fa-solid.fa-user.fa-2xl:hover{
    color: #add8e6;
}


















