/******************************* MAIN ********************************/
/**** Fonts *****/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root { /**** defino variables de colores (que voy a usar seguido) *****/
  --nav-footer-color: #0d6efd;
  --text-color1: #fff;
  --text-color2: #000;
  --primary-color:#124f88;
  --secondary-color: #F7C331;
  --third-color:#1cb680;
  --fourth-color:#b67c27;
  --navbar-shadow-color: #3476fb;
  --menu-mobile-background-color: #3A4460;
}

html{
  scroll-behavior:smooth; /**** scroll mas lento *****/
}

section[id] {
  scroll-margin-top: 3.75rem; /**** espacio entre navbar y secciones al usar menu *****/
}

body {
  background-color: #c9e5f6;
  padding-top: 4.38rem;
  color: var(--text-color1);
  background-image: url(../ASSETS/IMG/pexels-consuelo-borroni-14806765\ prueba.jpg);
  background-position: top;
  margin:auto;
  background-repeat: no-repeat;
}

/***** encuadre (padding) desk ********/

.horizontal-padding {
  padding-left: 3.13rem;
  padding-right: 3.13rem;
}
.vertical-padding {
  padding-top: 4.37rem;
  padding-bottom: 4.37rem;
}

/***** encuadre (padding) mobile ********/

@media (max-width: 600px){
.horizontal-padding {
  padding-left: 0.94rem;
  padding-right: 0.94rem;
}
.vertical-padding {
  padding-top: 1.56rem;
  padding-bottom: 1.4rem;
} 
}
/******************************* NAVBAR ***************************************/
.header {
  box-shadow: 0 0.1rem 0.1rem var(--navbar-shadow-color); /** sombra navbar **/
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  background-color: var(--nav-footer-color);
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  margin: 0 auto;
}

/*********** Logo ************/

.logo img {
 height: 3rem;
 width: auto;
 display: flex;
}
.logo img:hover{ /*efecto de agrandar elemento*/
  transform: scale(1.13);
  transition: all 0.8s;
}

/************ Menu ***************/
.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 0 0.8rem;
}

.nav-link {
  font-family:"Reboto", sans-serif;
  color: var( --text-color1);
  font-size: 1.3rem;
  font-weight: 500; /*grosor de la letra*/
  text-transform: uppercase; /*mayúscula*/
}
.nav-link:hover{
  color:var(--secondary-color);
  transform: scale(1.05);
  transition: all 0.6s;
}
li.btn{
  padding-left: 2rem;
 
}
.btn:hover{
  color:#57d4ed; 
  transform: scale(1.3); /*efecto de agrandar y su tiempo*/
  transition: all 0.8s;
} 
.open-menu,
.close-menu { /*oculto iconos*/
  display: none;
}

/************* Navbar Menu Mobile ****************/

@media (max-width:600px) {
.logo img {
  height: 2.8rem;
  width: auto;
  display: flex;
}

.menu{
  justify-content: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: var(--menu-mobile-background-color);  
  height: 100%;
  overflow-y: auto;
 /*efecto de opacidad retardado*/
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.nav-link{
  color: var( --text-color1);
  line-height: 4.36rem;
  font-size: 1.3rem;
}

.open-menu,
.close-menu { /*se ven los iconos*/
  display: block; 
  border: none;
  background: none;
}

.close-menu {
  align-self: flex-end;
  padding: 2rem 1.5rem;
}

.menu_opened {
  opacity: 1;
  pointer-events: all;
}

.menu a:hover,
.menu a.selected {
  color: var(--secondary-color);
 }
}


/****************************** PERFIL ****************************/

/************ Perfil Mobile *****************
(en esta caso decidi primero hacerlo en mobile)*/
#perfil{
  padding-top: 1.2rem;
  padding-bottom: 2.2rem;
}
.profile{
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.profile-info {
  margin-bottom: 1.6rem;
}

.profile-small-title {
  font-size: 1.3rem;
  font-weight:bold;
  margin: 0;
  color: var(--primary-color);
  letter-spacing: 0.08rem;
  margin-bottom: 0.1rem;
}

.profile-title {
  font-size: 2.2rem;
  font-weight:bold;
  margin: 0;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
}

.profile-titulo-academico{
  font-size: 1.15rem;
  font-weight:bold;
  margin: 0;
  color: var(--primary-color);
  letter-spacing: 0.06rem;
  margin-top: 0.6rem;
}

.profile-details {
  text-align: center;
  font-size: 1.17rem;
  font-weight: 500;
  line-height: 1.35;
  margin: 0.3rem 1rem; 
  color: var(--text-color2);
}

.profile-btn-cv {
  background-color: var(--primary-color);
  color: var(--text-color1);
  border: none;
  font-size: 1.25rem;
  padding: 0.6em 1em;
  border-radius: 3.13rem;
  margin: 1rem;
}
.profile-btn-cv:hover {
  filter: brightness(130%); /*efecto de luminosidad-brillo*/
}

.profile-img {
  width: 80%;
  max-width: 350px;
  border-radius: 200px;
  padding-top: 1rem;
}
.profile-img-section {
  position:relative;
}

/********** Perfil desk (escritorio) ****************/

@media (min-width: 600px) {
#perfil{
  padding-top: 5rem;
}
.profile {
  text-align:center;
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: 0 auto;
}

.profile-info {
  margin-bottom: 3.12rem;
}

.profile-small-title{
  font-size: 2.3rem;
}

.profile-title {
  font-size: 4rem;
}
.profile-titulo-academico{
  font-size: 1.75rem;
  margin-top: 1.2rem;
}

.profile-details {
  font-size: 1.25rem;
  margin: 0.2rem 1rem 1rem;
  max-width: 500px;
  font-weight: bold;
}

.profile-btn-cv {
  font-size: 1.75rem;
  margin: 1.2rem;
}

.profile-img {
  margin-top: 2.4rem;
  width: 100%;
  max-width: 390px;
}
}

/******************************* EXPERIENCIA ********************************/

.experience{
  background-color:var(--primary-color);
  color:var(--text-color1);
  padding: 3.13rem 1.25rem;
  border-radius: 0.5rem;
}
.contenido-seccion{
  max-width: 81.25rem;
  margin: auto;
}
.experience-title{
  text-align: center;
  text-transform: uppercase;
  color:var(--text-color1);
  font-size:4.58rem;
  font-style:oblique;
  font-weight: 900;
  padding-bottom: 1rem;
}
.subtitle{
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 1.25rem;
  margin-bottom: 0.625rem;
}
.fila{
  display: flex;
  justify-content: space-between; 
}
.col{
  font-family: "Poppins", sans-serif;
}
.col.izquierda{
  padding-top: 2.3rem;
  padding-right: 2.19rem;
}
.col.derecha{
  padding-top: 2.3rem;
  padding-left: 2.19rem;
}

.item.der, .item.izq{ 
  padding: 1.25rem;
  margin-bottom: 1.875rem;
  background-color: #366993;
  position: relative;
  border-radius: 0.4rem;
}

.nombre-empresa, .nombre-institucion{
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.title-academica, .title-laboral{
  font-size: 1.3rem;
  margin-bottom: 0.34rem;
}

.date{
  display: block;
  color: var(--third-color);
  margin-bottom: 0.3rem;
}
.item p{
  line-height: 1.5rem;
  font-weight: 550;
}
.item.izq{ /*color a los bordes*/
  border-right: 0.8rem solid var(--third-color);
  margin-right: 1.25rem;
  width: 90%;
}
.item.der{
  border-left: 0.8rem solid var(--fourth-color);
  margin-left: 1.25rem;
  width: 90%;
}

/********** Mobile experiencia ***************/

@media(max-width:600px){
.experience-title{
  font-size:2.6rem;
}
.subtitle{
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-bottom: 0.625rem;
}
.experience .fila{ /*bajo  columna laboral*/
  display: block;
}
.col{
  width: 100%;
}
.col.izquierda{
  padding-top: 1.5rem;
}
.title-academica, .title-laboral{
  font-size: 1.2rem;
}
.date{
  font-size: 1rem;
}
.item p{
  font-size: 0.9rem;
}
}

/*************************** HABILIDADES ***************************************/
.skills-title{
  text-transform: uppercase;
  color:var(--text-color1);
  font-size:4.68rem;
  font-style:oblique;
  font-weight: 900;
  padding-bottom: 1rem;
}

.container-fluid{
  padding: 0%;
}

.col-md-6{
  padding: 4rem;
}

h6{
  font-family:'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color2);
}

.progress .progress-bar {
  border-radius: 0.6rem;
  transition: 2s;
}
.progress-bar{ 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  white-space: nowrap; /*los espacios en blanco q sobran y los saltos de línea se eliminan*/
  width: var(--w); 
  animation: Aumentar 2.5s ease-in-out; /*empieza lo, acelera en el medio y termina lento*/
}

#html{
  background-color: #eb8724;
}
#css{
  background-color: #0BCEAF;
}
#javascript{
  background-color: #f9f912;
}

@keyframes Aumentar{
  0%{width:0%;}
  100%{width:var(--w)} /*llama a cada valor que tiene w(width)*/
}

/************* Skills mobile ************/
@media(max-width: 600px) {

.skills-title{
  font-size:2.6rem;
}
.container-fluid{
  padding: 0%;
}
.col-md-6{
  padding: 1rem 0;
}
h6{
  font-size: 1.05rem;
}
}


/*************************** PROYECTOS *******************************/

.project-title{
  text-transform: uppercase;
  font-size:4.68rem;
  font-style:oblique;
  font-weight: 900;
  padding:2.5rem;
}
.project-subtitle{
  font-family:'Poppins'; 
  font-size: 2.3rem;
  font-weight: 550;
  padding: 1.3rem 0;
}

.project-description{
  font-family:'Poppins'; 
  font-size: 1.1rem;
  padding: 0.4rem 0;
  font-weight: 550;
}
.project-body {
  background-color:var(--primary-color);
  color:var(--text-color1);
  border-radius: 0.5rem;
}
.container.text-center{
  padding: 1.5rem;
}
.proyecto-info{
  font-size: 1.3rem;
  font-weight: 550;
}
.img-fluid{
  padding-bottom: 0.6rem;
  border-radius: 1rem;
 }

/************* Proyecto Mobile ************/
@media(max-width: 600px) {
.project-title{
  font-size:2.6rem;
  padding: 1rem;
}
.project-subtitle{ 
  font-size: 1.6rem;
  padding: 1rem 0;

}
.proyecto-info{
  font-size: 1.3rem;
  font-weight: 550;
}

.project-description{
  font-size: 0.85rem;
  padding: 0.4rem 0;
}
}

/*************************** CONTACTO *******************************/

/************* Contacto Mobile *******************/
.contact {
  background-color: var(--primary-color);
  color: var(--text-color1);
  border-radius: 1rem;
  padding: 1.56rem;

  display: grid; /*genero una cuadrícula con filas, items, columnas*/
  gap: 1.7rem; /*ancho de la separacion por fila o columna*/
}

.contact p,
.contact h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact-title {
  font-size: 1.87rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.contact-details,
.contact-form {
  display: grid;
  gap: 1.25rem;
}

.contact-details-group,
.contact-form-group {
  display: grid; /*cuadrícula interna*/
  gap: 0.2rem; /*espacio entre los elementos hijos*/
  font-size: 1.1rem;
}

.contact-label {
  text-transform: uppercase;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  border-radius: 0.4rem;
  border: none;
  height: 1.87rem;
  padding: 0.3rem 0.6rem;
}
.contact-form textarea {
  height: auto;
  resize: vertical; /*permite cambiar el tamaño del elemento solo verticalmente*/
}

.contact-form-submit {
  width: 100%;
  height: 3.125rem;
  background-color:var(--text-color2);
  border-radius: 0.44rem;
  color: var(--text-color1);
  border: 1px solid var(--text-color1);
}

.redes {
  list-style: none;
  display: flex;
  gap: 1.56rem;
  justify-content: center;
  align-items: center;
}

.list-group{ /*oculto color de fondo y borde en iconos*/
  --bs-list-group-bg:none;
  --bs-list-group-border-color:none;
}


/************* Desk *******************/
@media (min-width: 700px) {
.contact {
  font-size: 1.25rem;
  padding: 4.37rem;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.contact-title {
  font-size: 2.2rem;
  grid-area: title; /*utilizo area para darle un tamaño y una ubicacion */
}
.contact-details {
  grid-area: details;
}
.contact-form {
  grid-area: form;
}
.contact {
  grid:                        /*ubico cada elemento definido por grid-area en filas y columnas*/
        "title   form" auto
        "details form" auto
        "social  form" auto /
        1fr      1fr; /*ambas columbas con mismo tamaño*/
}                     /*(1fr) ocupa una parte de una fila entera*/
.contact-form-submit:hover {
  box-shadow: 0 0 14px var(--nav-footer-color);
}
i.fa-brands.fa-linkedin-in.fa-2xl:hover{
  color: #1e90ff;
}
i.fa-regular.fa-envelope.fa-2xl:hover{
  color: #c65d37;
}
i.fa-brands.fa-github.fa-2xl:hover{
  color:#f0ffff;
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
  color:#57d4ed;
}

.contact p,
.contact h2 {
  margin: 0.3rem;
  padding: 0.2rem;
}

}

/*************************** FOOTER *******************************/

.footer {
  box-sizing: border-box ;
  font-family:'Poppins' , sans-serif;
  color:var(--text-color1);
  background-color:var(--nav-footer-color);
  padding: 0.3rem;
  text-align: center;
  font-size: 0.95rem;
}
p{
  margin: 0.1rem;
}
a {
  text-decoration: none;
  color:var(--text-color1);
}

/************* Footer mobile ************/
@media(max-width: 600px) {
  .footer {
    padding: 0.1rem;
    font-size: 0.73rem;
  }
}



